*{
  max-width: 1440px;
  box-sizing: border-box;
  font-family: raleway;
  margin: 0;
  padding: 0;
}


body{
  background-color: white;
  margin-right: 50px;
  margin-left: 50px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 60px;
}

.nav{
  width: 348px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 19px;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 348px;
}

li{
  color: #0065FC;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  padding-left: 50px;
}

.lien_nav{
  text-decoration: none;
  color: #000000;
}

.lien_nav:hover{
  font-weight: 500;
  border-top: solid #0065FC 2px;
  padding-top: 14px;
  color: #0065FC;
}

h1{
  font-family: raleway;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}

h2{
  font-family: raleway;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

h3{
  font-family: raleway;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

p{
  font-family: raleway;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.container_text{
  margin-bottom: 20px;
}

#trouvez{
  margin-bottom: 8px;
}

.container_search{
  display: flex;
  height: 49px;
}


#location_dot{
  background-color: #F2F2F2;
  width: 50px;
  padding: 20px;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  justify-content: center;
  height: 49px;
}

.recherche{
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  box-sizing: border-box;
  width: 224px;
  font-size: 18px;
  font-weight: 700;
  font-family: raleway;
  padding: 17px;
}

.recherche:focus{
  outline: none;
}

i{
  background-color: #F2F2F2;
  width: 252px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  color: white;
  font-family: raleway;
  font-weight: 700;
}

.container_filtres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 25px;
}

.titre_filtres{
  display: flex;
  align-items: center;
}

.filtre{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F2F2F2;
  border-radius: 25px;
  height: 40px;
  padding-right: 20px;
}

.filtre:hover{
  background-color: #DEEBFF;
}

#money{
  color: #0065FC;
  width: 22px;
  height: 16px;
  background-color: transparent;
  margin-left: 20px;
}

#person{
  color: #0065FC;
  width: 22px;
  height: 16px;
  background-color: transparent;
  margin-left: 20px;
}

#heart{
  color: #0065FC;
  width: 22px;
  height: 16px;
  background-color: transparent;
  margin-left: 20px;
}

#dog{
  color: #0065FC;
  width: 22px;
  height: 16px;
  background-color: transparent;
  margin-left: 20px;
}

.container_infos{
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#infos{
  color: #0065FC;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.container_hébergements_populaires{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-radius: 20px;
  overflow: auto;
  margin-bottom: 65px;
}

.container_hébergements_marseille{
  width: 65%;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
}

.cards_marseille{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 31px;
}

.cards_marseille_titre{
  margin-left: 40px;
  margin-top: 30px;
}

.card_marseille{
  box-sizing: border-box;
  width: 246px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card_lien{
  text-decoration: none;
}

.card_img_marseille{
  width: 100%;
  height: 124px;
  object-fit: cover;
  box-sizing: border-box;
  border: 5px solid #FFFFFF;
  border-radius: 20px 20px 0px 0px;
}

.card_content{
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  gap: 8px;
}

.card_stars_marseille{
  padding-bottom: 15px;
}

.container_les_plus_populaires{
  width: 32%;
  border-radius: 20px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card_lpp_titre{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 41px 42px 26px 37px;
  width: 100%;
}

#chart_line{
  color: #0065FC;
}

.cards_lpp{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 31px;
}

.card_lpp{
  box-sizing: border-box;
  width: 369px;
  height: 144px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card_lpp_content{
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 5px 0px 15px;
  box-sizing: border-box;
}

.card_img_lpp{
  width: 33%;
  height: 144px;
  object-fit: cover;
  box-sizing: border-box;
  border-top: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
  border-radius: 20px 0px 0px 20px;
}

.card_lpp_text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
}

.card_stars_lpp{
  padding-bottom: 10px;
}

#activité_a_marseille{
  margin-top: 60px;
}

.cards_activités{
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.card_activité_lien{
  text-decoration: none;
}

.card_activité{
  width: 302px;
  height: 444px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_img_activités{
  width: 302px;
  height: 389px;
  border-radius: 20px 20px 0px 0px;
}

.card_titre_activité{
  width: 302px;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 0px 0px 20px 20px;
}

.footer{
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px 0px 8px 20px;
}

.footer_titre{
  padding-bottom: 20px;
}

.footer_bloc{
  display: flex;
  width: 33.3%;
  flex-direction: column;
}

a{
  color: #000000;
  cursor: pointer;
  margin-bottom: 12px;
}

.fa-star{
  color: #0065FC;
  background-color: transparent;
}

#grey1{
  color: #F2F2F2;
  background-color: transparent;
}

#grey2{
  color: #F2F2F2;
  background-color: transparent;
}

#grey3{
  color: #F2F2F2;
  background-color: transparent;
}

#grey4{
  color: #F2F2F2;
  background-color: transparent;
}

#grey5{
  color: #F2F2F2;
  background-color: transparent;
}

#grey6{
  color: #F2F2F2;
  background-color: transparent;
}

#grey7{
  color: #F2F2F2;
  background-color: transparent;
}

#grey8{
  color: #F2F2F2;
  background-color: transparent;
}

#grey9{
  color: #F2F2F2;
  background-color: transparent;
}

.fa{
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 1024px) {
  .container_hébergements_populaires{
    display: flex;
    flex-direction: column;
    gap: 53px;
  }

  .container_hébergements_marseille{
    width: 100%;
  }

  .cards_marseille_titre{
    margin-bottom: 46px;
  }

  .container_les_plus_populaires{
    width: 100%;
    display: flex;
  }

  .cards_lpp{
    display: flex;
  }

  .card_lpp{
    width: 100%;
  }

  .card_lien{
    width: 30%;
  }

  .cards_activités{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 69px;
  }

  .card_activité_lien{
    width: 23%;
  }

  .card_activité{
    width: 100%;
    height: 267px;
  }

  .card_img_activités{
    width: 100%;
    object-fit: cover;
    height: 211px;
  }

  .card_titre_activité{
    width: 100%;
    padding: 0px 15px 0px 15px;
  }
}