/*** General ***/

* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
  --text-color: #000000;
  --card-color: #FFFFFF;
}

.fa-solid {
  color: var(--main-color);
}

.neutral_star{
  color: var(--main-bg-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.main_container {
  width: 100%;
  max-width: 1400px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section_title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--card-color);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card_title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

/*** Header ***/

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 59px;
}

.logo{
  width: 61px;
  height: 19px;
}

.nav{
  display: flex;
}

.nav_link{
  display: flex;
  width: 162px;
  font-weight: 400;
  color: var(--text-color);
  justify-content: space-around;
  border-top: 2px solid transparent;
  padding-top: 46px;
  text-decoration: none;
}

.nav_link:hover{
  font-weight: 500;
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*** Recherche ***/

.container_search{
  display: flex;
  height: 49px;
}

.fa-location-dot{
  background-color: var(--main-bg-color);
  width: 50px;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  justify-content: center;
  height: 49px;
}

.recherche{
  border-right: none;
  border-left: none;
  border-top: var(--main-bg-color) 1px solid;
  border-bottom: var(--main-bg-color) 1px solid;
  box-sizing: border-box;
  width: 224px;
  font-size: 18px;
  font-weight: 700;
  padding: 17px;
}

.recherche:focus{
  outline: none;
}

input::placeholder{
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}

i{
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  color: var(--card-color);
  font-weight: 700;
  font-size: 18px;
}

.search_glass{
  display: none;
}


/*** Filter ***/

.filter {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 72%;
}

.text_filter {
  font-size: 18px;
  font-weight: 700;
}

.filter ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.filter li{
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 20px 12px 20px;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
}

.filter i{
  color: var(--main-color);
  font-size: 22px;
  padding-right: 10px;
}
 
.filter li:hover{
  background-color: var(--filter-bg-color);
}


/*** Information ***/

.information{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;
  gap: 11px;
}

.fa-info:before{
  content: "\f129";
  font-size: 11.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
}

.information p{
  display:flex;
}

.fa-solid{
  background-color: transparent;
}

/*** Hebergements And Populaires ***/

.hebergements_and_populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.hebergements_and_populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/*** Hebergements ***/

.hebergements {
  width: 65%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--main-bg-color);
}

.hebergements .section_title{
  padding-top: 12px;
  padding-bottom: 23px;
}

.hebergements article{
  display: flex;
  width: 29%;
}

.hebergements_cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 31px;
}

.hebergements_cards .card{
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}

.hebergements_cards img{
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card_content{
  padding-left: 11px;
}

.card_title{
  margin-bottom: 9px;
  margin-top: 4px;
}

.card_subtitle{
  margin-bottom: 9px;
  margin-top: 0px;
}

.card_rating{
  margin-top: 0px;
  margin-bottom: 6px;
}

.see_more{
  font-weight: 700;
  font-size: 18px;
  padding-top: 38px;
  padding-bottom: 16px;
}

/*** Populaires ***/

.populaires {
  width: 32%;
  background-color: var(--main-bg-color);
}

.populaires_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires .populaires_title{
  padding-top: 11px;
}

.populaires article{
  width: 100%;
}

.populaires_cards{
  gap: 33px;
}

.populaires_cards .card {
  display: flex;
  margin-top: 33px;
  padding: 5px;
}

.populaires_cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires_cards .card_content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires_cards .card_title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires_cards .card_subtitle {
  margin: 0;
}

.populaires_cards .card_rating {
  margin-bottom: 5px;
}

/*** Activites ***/

.activites{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.activites_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 18px;
}

.activites_cards article{
  display: flex;
  width: 23%;
}

.activites_cards .card{
  box-sizing: border-box;
  width: 100%;
  background-color: var(--card-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.activites_cards img{
  width: 100%;
  height: 389px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites_cards .card_title{
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 19px;
  height: 56px;
}

/*** Footer ***/

footer{
  background-color: var(--main-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 45px 0px 58px 70px;
  margin-top: 60px;
}

.footer_bloc{
  display: flex;
  width: 33.3%;
  flex-direction: column;
}

footer a{
  cursor: pointer;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
}

/*** Le code ci-dessous correspond à la version responsive uniquement ***/

/*** Media queries ***/

/*** Medium devices (tablets, less/equal than 992px) ***/

@media (max-width: 992px) {
/*** Filter ***/

  .filter{
    width: 100%;
  }

/*** Hebergements and Populaires ***/

  .hebergements_and_populaires {
      flex-direction: column;
  }

/*** Hebergements ***/

  .hebergements {
      width: 100%;
  }

/*** Popolaires ***/

  .populaires {
      width: 100%;
      margin-top: 50px;
  }

  .populaires_cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .populaires_cards .card {
      width: 100%;
  }

  .populaires_cards .card_title {
      font-size: 16px;
      padding-right: 25px;
  }

  .populaires_cards .card_subtitle {
      font-size: 13px;
  }

  .populaires_cards img{
    width: 40%;
  }

/*** activites ***/

  .activites_cards img{
    height: 211px;
  }

  .activites_cards{
    width: 100%;
    align-items: center;
  }

  .activites_cards article{
    justify-content: center;
    align-items: center;
  }

  .activites_cards .card_title{
    width: 70%;
  }
}

/*** Small devices (phones, less than 768px) ***/

@media (max-width: 768px) {
/*** General ***/

  .main_container {
    max-width: 768px;
    padding: 0;
  }

/*** Header ***/

  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 21px;
    margin-bottom: 31px;
  }

  .nav{
    justify-content: space-between;
    width: 100%;
  }

  .nav_link{
    width: 50%;
    justify-content: center;
    padding-top: 0px;
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 23px;
  }

  .nav_link:hover{
    border-bottom: 2px solid var(--main-color);
    border-top: none;
  }

  .text_container{
    padding-left: 22px;
    padding-right: 22px;
  }

  .button{
    display: none;
  }

/*** Recherche ***/

  .container_search{
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .search_glass{
    display:flex;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--main-color);
    width: 49px;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
  }

  .fa-magnifying-glass{
    color: var(--card-color);
  }

/*** Filter ***/

  .filter{
    flex-direction: column;
    justify-content: center;
  }

  .text_filter{
    width: 90%;
    display: flex;
  }

  .filter ul{
    width: 90%;
    flex-wrap: wrap;
    margin-block-start: 0;
    padding-inline-start: 0;
    gap: 17px 0px;
  }

  .filter li{
    width: 42%;
    padding-left: 13px;
    font-size: 11px;
    padding: 0 0 0 13px;
    height: 46px;
  }

  .filter i{
    padding-right: 5px;
    font-size: 18px;
  }

/*** Information ***/

  .information{
    padding-left: 20px;
    padding-bottom: 0;
  }

/*** Hebergements and Populaires ***/

  .hebergements_and_populaires {
    flex-direction: column-reverse;
  }

  .hebergements_and_populaires section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 27px 0 47px 0;
    border-radius: 0px;
  }

/*** Populaires ***/

  .populaires {
    flex-direction: column;
    padding-top: 28px;
    padding-bottom: 47px;
    margin-top: 40px;
  }

  .populaires .populaires_title{
    width: 89%;
    padding: 0;
    padding-bottom: 26px;
  }

  .populaires article{
    display: flex;
    justify-content: center;
  }

  .populaires_cards{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 11px;
  }

  .populaires_cards .card {
    width: 89%;
    padding: 0;
    border: 5px solid var(--card-color);
    margin: 0;
  }

  .populaires_cards img {
    width: 41%;
    min-width: 41%;
  }

  .populaires_cards .card_content {
    padding-right: 13px;
  }

  .populaires_cards .card_title{
    padding-right: 0px;
  }

/*** Hebergements ***/

  .hebergements {
    width: 100%;
    background-color: var(--card-color);
  }
  
  .hebergements .section_title{
    width: 89%;
  }

  .hebergements article{
    width: 89%;
  }
  
  .hebergements_cards{
    align-items: center;
    gap: 12px;
    flex-direction: column;
    width: 100%;
  }

  .see_more{
    display: none;
  }

/*** Activites ***/

.activites{
  justify-content: center;
}

.activites .section_title{
  width: 89%;
}

.activites_cards{
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 24px;
  margin-top: 5px;
}

.activites_cards article{
  width: 89%;
  justify-content: center;
  align-items: center;
}

.activites_cards .card{
  height: 190px;
  display: flex;
  align-items: center;
}

.activites_cards img{
  height: 70.5%;
}

.activites_cards .card_title{
  padding-left: 0;
  height: 29.5%;
  width: 89%;
}

/*** Footer ***/

footer{
  margin-top: 80px;
  padding: 5px 0 49px 33px;
  flex-direction: column;
}

.footer_bloc{
  width: 89%;
}

.footer_title{
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 40px;
  font-size: 18px;
  width: 89%;
}

}